%div.orders_screen
  %div.orders
    -@orders.each do |order|
      %div.order_box
        %div.panel.lefts
          %div.info
            %p.date
              = order.updated_at.strftime('%d/%m/%y')
            %p.number
              = "Заказ ##{order.id}"
          %div.sbutton
            = link_to("/cart/repeat?id=#{order.id}") do
              %p.sbutton_text
                повторить заказ
        %div.panel.rights
          %div.order_items
            = render partial: 'shared/cart_items', object: order.order_items, locals: {removable: false}