%div.shop_screen
  %div.column.left
    %div.text
      Мы будем варить турецкий кофе в медных турках на песке со специями. И радовать вас медитативным развлечением - рисованием на песке.
    %div.sbutton
      =link_to '/shop/catalog' do
        %p.sbutton_text
          Каталог
  %div.column.center
    %div.name
      = @item.name
    %div.heading
      = @item.heading
    %div.short_description
      = @item.short_description
    %div.image
      %img.img{src: @item.image.promo_box}
    %div.price
      = @item.show_price
    %div.sbutton
      =link_to("/cart/add?id=#{@item.id}&quantity=1", remote:true, class: 'buy') do
        %p.sbutton_text
          В корзину
  %div.column.right
    %div.sbutton
      =link_to '/shop/brands' do
        %p.sbutton_text
          Бренды