%div#shop.shop_screen.screen
  %div.column.left
    %div.text
      Мы будем варить турецкий кофе в медных турках на песке со специями. И радовать вас медитативным развлечением - рисованием на песке.
    = render partial: 'shared/sbutton', object: 'Каталог',
             locals: {extra_class: '', link_class: '', link: "/shop/catalog", remote: false}
  %div.column.center
    =link_to("/shop/catalog?brand=#{@item.brand}&country=#{@item.country}&type=#{@item.type}#item=#{@item.id}", remote: false, class: 'about_promo') do
      %div.name
        = @item.name

      %div.short_description
        = @item.short_description
      %div.image
        %img.img{src: @item.image.promo_box}
      %div.price
        = @item.show_price

    = render partial: 'shared/sbutton', object: 'добавить',
             locals: {extra_class: '', link_class: 'buy', link: "/cart/add?id=#{@item.id}&quantity=1", remote: true}

  %div.column.right
    = render partial: 'shared/sbutton', object: 'Бренды',
             locals: {extra_class: '', link_class: '', link: "/shop/brands", remote: false}
