%div.cart_complete_screen
  %div.close.back
  %div.panels
    %div.panel.left_panel
      %h1.subprice
        Итого
      - if @discount_multiplier < 1
        %h5.subprice с учетом скидки
      %h1.subprice
        = "#{@order.show_price} P"
      = form_tag '/cart/complete', method: :post, remote: false, class: 'delivery_form' do
        %p.delivery
          = radio_button_tag :delivery, :self, checked: true
          = label_tag :delivery_self, 'Самовывоз'
          %p.address
            Москва, Звонарский пер., д.7, стр.1.
            %br
            Время работы: ВТ-СБ с 12:00 до 21:00, ВС, ПН - выходные.
        -#%p.delivery
          = radio_button_tag :delivery, :courier, checked: true
          = label_tag :delivery_courier,'Доставка курьером по Вашему адресу'
        -#%p.old_address
          =text_field_tag :adress, @address
        %p.discount-card-field
          - if @discount_card_error
            .errors
              %ul
                %li
                  = @discount_card_error
          = label_tag 'Номер дисконтной карты'
          = text_field_tag :discount_card, @discount_card_number, placeholder: 'Введите номер карты', id: 'discount-card-number-field'
        = submit_tag 'Оформить заказ', class: 'submit sbutton'
    %div.panel.right_panel
      = render partial: 'shared/cart_items', object: @order_items, locals: {removable: true}