%div.cart_wrapper
  %div.cart_close
  %ul.cart_items
    -@order_items.each do |cart_item|
      -item = cart_item.item
      -unless item.nil?
        %li.item
          %div.item_small
            %img.item_image{src: item.image.thumb}
            %div.short_info
              %p.name
                = item.name
              %p.price
                = "#{item.show_price} Р"
              %div.control_box
                =select_tag 'quantity', options_for_select((1..item.in_stock).to_a, cart_item.quantity), class: 'cart-count'
                = link_to 'удалить',"/cart/remove?id=#{cart_item.id}", remote: true, class: 'remove'
  %div.order_box
    %div.order_price
      %p.text
        итого без учета доставки
      %p.text.subtotal
        = "#{@order.show_price} Р"

    %div.sbutton
      = link_to('/cart/complete', remote: true, class:'make_order') do
        %p.sbutton_text
          оформить заказ