%div.overlay
  %div.close_button
  %ul.breadcrumb
    %li.breadcrumb-item
      =link_to('/') do
        %p Главная
    %li.breadcrumb-item
      =link_to('/#shop') do
        %p Магазин
    %li.breadcrumb-item
      =link_to('/shop/brands', data: {no_turbolink: true, turbolinks: false }) do
        %p Бренды
    %li.breadcrumb-item
      %p
        =@brand.name
  %div.brand_info
    %div.brand_logo
      -if @brand.gallery_images.size > 0
        = render partial: 'shared/slider',  object: @brand.gallery_images, locals: { size: 'big'}
      -else
        %img.brand_img{src: "#{@brand.image.brand}"}
    %div.brand_text
      %h3.brand_name
        = @brand.name
      %div.brand_description
        = @brand.description
      = render partial: 'shared/sbutton', object: 'Продукция',
               locals: {extra_class: '', link_class: '', link: "/shop/catalog?brand=#{@brand.name}", remote: false}

