%div.overlay
  %div.close_button
  %ul.breadcrumb
    %li.breadcrumb-item
      =link_to('/') do
        %p Главная
    %li.breadcrumb-item
      =link_to('/#two') do
        %p Магазин
    %li.breadcrumb-item
      =link_to('/shop/catalog', data: {no_turbolink: true, turbolinks: false }) do
        %p Каталог
    %li.breadcrumb-item
      %p
        = @item.name
  %div.item_info
    %div.item_logo
      %img.item_img{src: "#{@item.image}"}
    %div.item_text
      %h3.item_name
        = @item.name
      %p.item_art
        = "арт. #{@item.article}"
      %div.item_price
        - if @prices.nil?
          = "#{@item.show_price} Р"
        -else
          = "#{@prices.first.show_price} Р"
          %div.old_price
            = "#{@item.show_price} Р"


      %div.cart_section
        =select_tag 'quantity', options_for_select((1..@item.in_stock).to_a, 1), class: 'count'
        = render partial: 'shared/sbutton', object: 'в корзину',
               locals: {extra_class: '', link_class: 'buy big_buy', link: "/cart/add?id=#{@item.id}&quantity=1", remote: true}
      %div.item_extra
        %div.extra
          %div.name
            = "#{@item.type}:"
          %div.string
            ="#{@item.type_extra}"
        %div.extra
          %div.name
            = "Регион:"
          %div.string
            ="#{@item.region}"
        %div.extra
          %div.name
            = "Производитель:"
          %div.string
            ="#{@item.facturer}"
        %div.extra
          %div.name
            = "Крепость:"
          %div.string
            ="#{@item.alcohol}%"
        %div.extra
          %div.name
            = "Объем:"
          %div.string.volumes
            - if @prices.nil?
              - prices = @item.without_special
            -else
              - prices = @prices
            -prices.each do |iv|
              %p.volume{volume: iv.id, price: iv.show_price, class: iv.special.nil? ? '' : 'special'}
                ="#{iv.volume.ml} ml"
        %div.extra
          %div.string.long
            %div.name.in_text
              = "Компоненты:"
            =" #{@item.source}"
        %div.extra
          %div.string.long
            %div.name.in_text
              = "Описание:"
            =" #{@item.description}"
        %div.cut
          %p читать полностью



  %div.same_box
    = render partial: 'shared/same_items', object: @same