%div.overlay
  %div.close
  %ul.breadcrumb
    %li.breadcrumb-item
      =link_to('/') do
        %p Главная
    %li.breadcrumb-item
      =link_to('/shop') do
        %p Магазин
    %li.breadcrumb-item
      =link_to('/shop/catalog') do
        %p Каталог
    %li.breadcrumb-item
      %p
        = @item.name
  %div.item_info
    %div.item_logo
      %img.item_img{src: "#{@item.image}"}
    %div.item_text
      %h3.item_name
        = @item.name
      %p.item_art
        = "арт. #{@item.article}"
      %div.item_price
        = "#{@item.price} Р"
      %div.item_extra
        %div.string
          = "#{@item.type}: #{@item.type_extra}"
        %div.string
          = "Регион: #{@item.region}"
        %div.string
          = "Производитель: #{@item.facturer}"
        %div.string
          = "Крепость: #{@item.alcohol}%"
        %div.string
          = "Компоненты: #{@item.source}"
        %div.string
          = "Описание: #{@item.description}"


