%div.profile_overlay.overlay
  %div.small_overlay.login_register
    %div.close_button
    %div.tabulated
      %div.tabs
        %div.tab_item.registration_tab
          регистрация
        %div.tab_item.login_tab.tab_active
          войти
      %div.forms_container
        %div.form_wrapper.log.form_active
          = simple_form_for @user, url: new_user_session_path, remote: true, html: {class: 'login_form', novalidate: true}  do |f|
            %div.errors
            %div.inputs
              %div.input
                = f.input_field :email, required: true
                = f.label :email
              %div.input
                = f.input_field :password, required: true
                = f.label 'Пароль'
                %a#forget_password{href: '#'} забыли пароль?
            = f.submit 'войти', class: 'sbutton'
        %div.form_wrapper.reg
          = simple_form_for @user, url: user_registration_path, remote: true, html: {class: 'login_form sign_up' } do |f|
            %div.errors
            %div.inputs
              %div.input
                = f.input_field :name, required: true
                = f.label :name, "Ф.И.О."
              %div.input
                = f.phone_field :phone, required: true
                = f.label 'Телефон'
              %div.input
                = f.input_field :email, required: true
                = f.label 'Email'
            %div.inputs
              %div.input
                = f.input_field :password, required: true
                = f.label 'Пароль'
              %div.input
                = f.input_field :password_confirmation, required: true
                = f.label 'Подтверждение пароля'
            %div.inputs
              %div.input.discount-card-field
                = f.fields_for :discount_card, DiscountCard.new do |fdc|
                  = fdc.input_field :number, required: true
                  = fdc.label 'Номер дисконтной карты', required: false

            =f.submit 'зарегистрироваться', class: 'sbutton'
  %div.small_overlay.password_recover
    %div.close_button
    %div.top
      %span.text Восстановить пароль
    %div.forms_container
      %div.form_wrapper.form_active
        = simple_form_for @user, url: user_password_path+'.html', remote: true, html: {class: 'login_form' }  do |f|
          %div.errors
          %div.inputs
            %div.input
              = f.input_field :email, required: true
              = f.label :email
          = f.submit 'восстановить', class: 'sbutton'
