%div.overlay
  %div.close_button
  = simple_form_for @user, url: user_registration_path, remote: true, html: {class: 'sign_up' } do |f|
    %div.errors
    %div.input       
      = f.input_field :name, required: true
      = f.label 'Имя'
    %div.input
      = f.input_field :surname, required: true
      = f.label 'Фамилия'
    %div.input
      = f.phone_field :phone, required: true
      = f.label 'Телефон'
    %div.input
      = f.input_field :email, required: true
      = f.label 'Email'
    %div.input.input-field
      = f.country_select :country, ['Russia'], required: true
      = f.label 'Страна'
    %div.input
      = f.input_field :district, required: true
      = f.label 'Область'
    %div.input
      = f.input_field :city, required: true
      = f.label 'Город'
    %div.input
      = f.input_field :password, required: true
      = f.label 'Пароль'
    %div.input
      = f.input_field :password_confirmation, required: true
      = f.label 'Подтверждение пароля'

    =f.submit 'Зарегистрироваться', class: 'sbutton'