%ul.cart_items
  -cart_items.each do |cart_item|
    -item = cart_item.item
    -unless item.nil?
      %li.item
        %div.item_small
          %a.cart_item_link{href:item_link(item)}
            %img.item_image{src: item.image.thumb}
          %div.short_info
            %a.cart_item_link{href:item_link(item)}
              %p.name
                = "#{item.name}, #{cart_item.volume.ml.to_f/1000}л"
              %p.price
                = "#{cart_item.unit_price} Р"
            %div.control_box
              =select_tag 'quantity', options_for_select((1..item.in_stock).to_a, cart_item.quantity),
                          class: 'cart-count', data: {item: item.id}, disabled: !removable
              -if removable
                = link_to 'удалить',"/cart/remove?id=#{cart_item.id}", remote: true, class: 'remove'
