%ul.sidenav
  %li.nav-item.index
    = link_to('/' , class: 'nav-nav') do
      %p.nav-text Главная
  %li.nav-item.shop
    = link_to('/shop' , class: 'nav-nav') do
      %p.nav-text Магазин
  %li.nav-item.news
    = link_to('/' , class: 'nav-nav') do
      %p.nav-text Новости
  %li.nav-item.contacts
    = link_to('/' , class: 'nav-nav') do
      %p.nav-text Контакты
  %li.nav-item.profile
    = link_to('/profile' , class: 'nav-nav') do
      %p.nav-text Ваш профиль