%ul.sidenav
  %li.nav-item
    = link_to('/profile' , class: 'nav-nav') do
      %p.nav-text Ваш профиль
  %li.nav-item.odd
    = link_to('/' , class: 'nav-nav') do
      %p.nav-text Контакты
  %li.nav-item
    = link_to('/' , class: 'nav-nav') do
      %p.nav-text Новости
  %li.nav-item.odd
    = link_to('/shop' , class: 'nav-nav') do
      %p.nav-text Магазин
  %li.nav-item
    = link_to('/' , class: 'nav-nav') do
      %p.nav-text Главная
