%ul.sidenav
  %li.nav-item.index{data: {menuanchor: 'one'}}
    = link_to('/#one' , class: 'nav-nav', data: { turbolinks: false, no_turbolink: true}) do
      %p.nav-text Главная
  %li.nav-item.shop{data: {menuanchor: 'two'}}
    = link_to('/#two' , class: 'nav-nav', data: { turbolinks: false, no_turbolink: true}) do
      %p.nav-text Магазин
  %li.nav-item.news{data: {menuanchor: 'three'}}
    = link_to('/#three' , class: 'nav-nav', data: { turbolinks: false, no_turbolink: true}) do
      %p.nav-text Новости
  %li.nav-item.contacts{data: {menuanchor: 'four'}}
    = link_to('/#four' , class: 'nav-nav', data: { turbolinks: false, no_turbolink: true}) do
      %p.nav-text Контакты
  %li.nav-item.profile{data: {menuanchor: 'five'}}
    = link_to('/#five' , class: 'nav-nav', data: { turbolinks: false, no_turbolink: true}) do
      - if @user.new_record?
        %p.nav-text Вход/Регистрация
      -else
        %p.nav-text Ваш профиль