!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{'http-equiv' => "Content-Security-Policy", 'content'=>"img-src * 'self' data:; default-src * 'self' gap: ; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; "}
    = render partial: 'shared/icons'
    %title Wine&Liquor Stash
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag '/javascripts/jquery.fullPage.min.js'
    = javascript_include_tag '/javascripts/responsiveslides.min.js'
  %body
    %div.main-screen
      = render partial: 'shared/burger'
      = render partial: 'shared/sidenav'
      = render partial: 'shared/cart'
      = render partial: 'shared/cart_board'
      = render partial: 'shared/confirmation'
      = render partial: 'shared/screen_arrows'
      %section.screens
        = yield
