!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title AlkoShop
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.main-screen
      = render partial: 'shared/burger'
      = render partial: 'shared/sidenav'
      = render partial: 'shared/cart'
      = render partial: 'shared/cart_board'
      = render partial: 'shared/quads'
      = yield
